In [1]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import metrics
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import wordnet
from nltk.tokenize import word_tokenize
import spacy
from spacy.lang.en import English
spacy.load('en')
nlp = English()
import nlp
import string
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from string import punctuation as PUNCTS
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\maryp\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\maryp\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\maryp\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [2]:
# CONSTANTS
PUNCTS = set(punct for punct in string.punctuation)
STOP_WORDS = set(stopwords.words("english")) - {'who', 'whom', 'what', 'when', 'where', 'why', 'how'}

In [3]:
df = pd.read_csv('train_dup.csv').drop(columns='id', axis=1)
df = df.dropna()
df.head()

,qid1,qid2,question1,question2,is_duplicate
0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [4]:
duplicates = df[df.is_duplicate==1]
not_duplicates = df[df.is_duplicate == 0]
print(f'The proportion of classes pairs/not pairs is: {len(duplicates)}/{len(not_duplicates)}')
print(f'An example of duplicated questions: \n{duplicates.question1[5]} \nAND \n{duplicates.question2[5]}')
duplicates.head()

The proportion of classes pairs/not pairs is: 149263/255024
An example of duplicated questions:
Astrology: I am a Capricorn Sun Cap moon and cap rising...what does that say about me?
AND
I'm a triple Capricorn (Sun, Moon and ascendant in Capricorn) What does this say about me?

,qid1,qid2,question1,question2,is_duplicate
5,11,12,Astrology: I am a Capricorn Sun Cap moon and c...,"I'm a triple Capricorn (Sun, Moon and ascendan...",1
7,15,16,How can I be a good geologist?,What should I do to be a great geologist?,1
11,23,24,How do I read and find my YouTube comments?,How can I see all my Youtube comments?,1
12,25,26,What can make Physics easy to learn?,How can you make physics easy to learn?,1
13,27,28,What was your first sexual experience like?,What was your first sexual experience?,1

In [5]:
# This is an example, will be later removed
count_vectorizer = CountVectorizer()
print(duplicates.question1[5], duplicates.question2[5])
# Create the Bag-of-Words Model
bag_of_words = count_vectorizer.fit_transform([duplicates.question1[5], duplicates.question2[5]])

# Show the Bag-of-Words Model as a pandas DataFrame
feature_names = count_vectorizer.get_feature_names()
pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

Astrology: I am a Capricorn Sun Cap moon and cap rising...what does that say about me? I'm a triple Capricorn (Sun, Moon and ascendant in Capricorn) What does this say about me?

,about,am,and,ascendant,astrology,cap,capricorn,does,in,me,moon,rising,say,sun,that,this,triple,what
0,1,1,1,0,1,2,1,1,0,1,1,1,1,1,1,0,0,1
1,1,0,1,1,0,0,2,1,1,1,1,0,1,1,0,1,1,1

In [6]:
# nltk cleaning: very slow!
lemmatizer = WordNetLemmatizer()
def clean_sentence_lemmatizer(sentence):
    """
    Receives a raw sentence and clean it using the following steps:  # BETTER
    1. Remove all non-words
    2. Transform the review in lower case
    3. Remove all stop words
    4. Perform lemmatizer

    Args:
        sentence: the sentence that will be cleaned
    Returns:
        a clean sentence using the mentioned steps above.
    """
    
    sentence = re.sub("[^A-Za-z]", " ", sentence)
    sentence = sentence.lower()
    sentence = word_tokenize(sentence)
    sentence = [lemmatizer.lemmatize(word) for word in sentence if word not in STOP_WORDS]
    sentence = " ".join(sentence)
    return sentence

print(duplicates.question1[5])
clean_sentence_lemmatizer(duplicates.question1[5])

Astrology: I am a Capricorn Sun Cap moon and cap rising...what does that say about me?

'astrology capricorn sun cap moon cap rising what say'

## SPACY

Tokenization, lemmatization, removing stop words (except question opening words like who, why, etc) and puctuation and lowering

In [4]:
# 1st way to clean q = re.sub("[^A-Za-z]", " ", q)?
nlp = English()

clean_question = lambda sentence: ' '.join([word.lemma_.lower() for word in nlp(sentence) 
                                            if word.lemma_ not in STOP_WORDS if word.lemma_ not in PUNCTS])
df_clean = df.copy()
df_clean['question1'] = df.apply(lambda row: clean_question(row['question1']), axis=1)
df_clean['question2'] = df.apply(lambda row: clean_question(row['question2']), axis=1)
df_clean.head()

,qid1,qid2,question1,question2,is_duplicate
0,1,2,what step step guide invest share market india,what step step guide invest share market,0
1,3,4,what story kohinoor koh noor diamond,what would happen indian government stole kohi...,0
2,5,6,how i increase speed internet connection using...,how internet speed increased hacking dns,0
3,7,8,why i mentally lonely how i solve,find remainder when math]23^{24}[/math divided...,0
4,9,10,which one dissolve water quikly sugar salt met...,which fish would survive salt water,0

In [5]:
resub = lambda q: re.sub("[^A-Za-z]", " ", q)
df_clean['question1'] = df_clean.apply(lambda row: resub(row['question1']), axis=1)
df_clean['question2'] = df_clean.apply(lambda row: resub(row['question2']), axis=1)

In [6]:
df_clean.to_csv('df_clean.csv', index=False)

In [10]:
# 2nd way to clean
# I didn't use it
def tok_stop_lem_punct(q, tokenize=True, stopwordize=True, punctuanize=True, lemmatize=True, lowerize=True):
    nlp = English()
    if stopwordize:
        q = ' '.join([words.text for words in nlp(q) if words.text not in STOP_WORDS])
    if lemmatize:
        q = ' '.join([words.lemma_ for words in nlp(q)])
    if punctuanize:
        q = re.sub("[^A-Za-z]", " ", q)
        q = ' '.join([words.strip() for words in q.split() if words not in PUNCTS])
    if lowerize:
        q = ' '.join([words.lower() for words in q.split()])
    if tokenize:
        tokenizer = spacy.tokenizer.Tokenizer(nlp.vocab)
        q = tokenizer(q)
    return q

print(tok_stop_lem_punct(duplicates.question1[5]))

astrology i capricorn sun cap moon cap rising what say

In [ ]:
df_clean2 = df.copy()
df_clean2['question1'] = df.apply(lambda row: tok_stop_lem_punct(row['question1']), axis=1)
df_clean2['question2'] = df.apply(lambda row: tok_stop_lem_punct(row['question2']), axis=1)

Some basic stats

In [136]:
unigramm_count_dict_clean, unigramm_count_dict_initial = {}, {}
bigramm_count_dict_initial, bigramm_count_dict_clean = {}, {}
number_of_words_inq_initial, number_of_words_inq_clean = [], []
lengths_of_questions_initial, lengths_of_questions_clean = [], []


def count_basic_stats(df):
    unigramm_count_dict = {}
    bigramm_count_dict = {} 
    number_of_words_inq = []
    lengths_of_questions = []
    
    for q1, q2 in zip(df.question1, df.question2):
        unigramms_q1 = [word.text for word in nlp(q1)]
        unigramms_q2 = [word.text for word in nlp(q2)]
        number_of_words_inq.append(len(unigramms_q1))
        number_of_words_inq.append(len(unigramms_q2))
        lengths_of_questions.append(len(q1))
        lengths_of_questions.append(len(q2))

        for unigramm in unigramms_q1 + unigramms_q2:
            if unigramm in unigramm_count_dict:
                unigramm_count_dict[unigramm] += 1
            else:
                unigramm_count_dict[unigramm] = 1

        bigramms_q1 = [' '.join(q1.split()[i:i+2]) for i in range(len(q1.split())) if i < len(q1.split()) - 1]
        bigramms_q2 = [' '.join(q2.split()[i:i+2]) for i in range(len(q2.split())) if i < len(q2.split()) - 1]

        for bigramm in bigramms_q1 + bigramms_q2:
            if bigramm in bigramm_count_dict:
                bigramm_count_dict[bigramm] += 1
            else:
                bigramm_count_dict[bigramm] = 1
    return unigramm_count_dict, bigramm_count_dict, number_of_words_inq, lengths_of_questions


unigramm_count_dict_initial, bigramm_count_dict_initial, number_of_words_inq_initial, \
    lengths_of_questions_initial = count_basic_stats(df)

unigramm_count_dict_clean, bigramm_count_dict_clean, number_of_words_inq_clean, \
    lengths_of_questions_clean = count_basic_stats(df_clean)

In [153]:
# TF(term) = term_frequency / sum(all terms frequences)

tf_dict_initial = {unigramm : unigramm_count_dict_initial[unigramm] / sum(unigramm_count_dict_initial.values()) 
                  for unigramm in unigramm_count_dict_initial}
tf_dict_clean = {unigramm : unigramm_count_dict_clean[unigramm] / sum(unigramm_count_dict_clean.values())
                for unigramm in unigramm_count_dict_clean}

In [68]:
from collections import Counter

def word_usage_count(df, column1, column2, ignore_register = False):
    """
    Receives a df with raw sentences and counts word usage
    Requires collections.Counter  
    Args:
        df: dataframe with some questions
        column1, column2: columns to unite and count word usage
        ignore_register: boolean parameter to ignore register or not, defaults to False
    Returns:
        Counter object {word: number}.
    """
    questions1 = set(df[column1])
    questions2 = set(df[column2])
    unique_question_union = questions1.union(questions2)
    words_usage_count = Counter()
    for q in unique_question_union:
        for word in q.split():
            if ignore_register:
                words_usage_count[word.lower()]+= 1
            else:
                words_usage_count[word]+= 1
    return words_usage_count

def word_existence_in_corpus(df,column1, column2, ignore_register=False):
    """
    Receives a df with raw sentences and counts word usage
    Requires collections.Counter  
    Args:
        df: dataframe with some questions
        column1, column2: columns to unite and get words
        ignore_register: boolean parameter to ignore register or not, defaults to False
    Returns:
        set of words occured in corpus from df.
    """
    return set(word_usage_count(df, column1, column2, ignore_register = ignore_register).elements())


import time
t0 = time.time()
total_word_dict = word_usage_count(df,'question1', 'question2',)
t1 = time.time()
print(len(total_word_dict))
print(t1 - t0)
print(len(word_existence_in_corpus(df,'question1', 'question2',)))

232531
2.1073827743530273
232531

Playing with vectorizer

first cells are just rubbish

In [11]:
# This is an example, will be later removed
count_vectorizer = CountVectorizer()
print(duplicates.question1[5], duplicates.question2[5])
# Create the Bag-of-Words Model

bag_of_words = count_vectorizer.fit_transform([duplicates.question1[5], duplicates.question2[5]])
# Show the Bag-of-Words Model as a pandas DataFrame
feature_names = count_vectorizer.get_feature_names()
pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

Astrology: I am a Capricorn Sun Cap moon and cap rising...what does that say about me? I'm a triple Capricorn (Sun, Moon and ascendant in Capricorn) What does this say about me?

,about,am,and,ascendant,astrology,cap,capricorn,does,in,me,moon,rising,say,sun,that,this,triple,what
0,1,1,1,0,1,2,1,1,0,1,1,1,1,1,1,0,0,1
1,1,0,1,1,0,0,2,1,1,1,1,0,1,1,0,1,1,1

In [27]:
pd.DataFrame(count_vectorizer.transform(['hi sun', 'moon rising asdf']).toarray(), columns = feature_names)

,about,am,and,ascendant,astrology,cap,capricorn,does,in,me,moon,rising,say,sun,that,this,triple,what
0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0

In [30]:
dfhead5 = df_clean.head()
dfhead5_bow = count_vectorizer.transform(dfhead5)
dfhead5_cv = pd.DataFrame(dfhead5_bow.toarray(), columns = feature_names)
dfhead5_cv['target'] = df_clean.is_duplicate
dfhead5_cv

,about,am,and,ascendant,astrology,cap,capricorn,does,in,me,moon,rising,say,sun,that,this,triple,what,target
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

Now i'm trying out vectorizers for cleaned df

how df was cleaned:
    
    first lambda func:
        nlp = English()
        clean_question = lambda sentence: ' '.join([word.lemma_.lower() for word in nlp(sentence)                                           if word.lemma_ not in STOP_WORDS if word.lemma_ not in PUNCTS])
        df_clean = df.copy()
        df_clean['question1'] = df.apply(lambda row: clean_question(row['question1']), axis=1)
        df_clean['question2'] = df.apply(lambda row: clean_question(row['question2']), axis=1)
        
    second lambda func:
        resub = lambda q: re.sub("[^A-Za-z]", " ", q)
        df_clean['question1'] = df_clean.apply(lambda row: resub(row['question1']), axis=1)
        df_clean['question2'] = df_clean.apply(lambda row: resub(row['question2']), axis=1)

## 1. Vectorization from full corpus

In [7]:
print(f'Initial cleaned data shape {df_clean.shape}')
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = set(df_clean.question1).union(set(df_clean.question2))
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
print(f'TfIdfVectorizer shape {X.shape}')

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X2 = cv.fit_transform(corpus)
print(f'Count Vectorizer/bag of words shape {X2.shape}')

Initial cleaned data shape (404287, 5)
TfIdfVectorizer shape (523984, 79161)
Count Vectorizer/bag of words shape (523984, 79161)

## 2. Transform first 10000 rows with CountVectorizer

In [9]:
# let's try Count Vectorizer on first 10000 rows - transform q1 and q2 to vectors
import time
t0 = time.time()
df_clean_vectorized_q1 = cv.transform(df_clean.head(10000).question1)
df_clean_vectorized_q2 = cv.transform(df_clean.head(10000).question2)
t1 = time.time()
df_clean_vectorized_cv_q1 = pd.DataFrame(df_clean_vectorized_q1.toarray(), columns = cv.get_feature_names())
df_clean_vectorized_cv_q2 = pd.DataFrame(df_clean_vectorized_q2.toarray(), columns = cv.get_feature_names())
df_clean_vectorized_cv_q1.shape, df_clean_vectorized_cv_q2.shape, t1-t0

((10000, 79161), (10000, 79161), 0.13861083984375)

## 3. Finding cosine distance between q1[i] from question1 and q2[i] from question2 
diagonal of pairwise distances between to matrices

In [37]:
# counting cosine similarity between first 2000 questions
from sklearn.metrics.pairwise import cosine_similarity

def count_cosine_dist_between_two_dfs(df1, df2):
    """
    Receives a dfs with vectors/matrices and counts pairwise cosine distancer  
    Args:
        df: dataframe with some questions
        
    Returns:
        pd.Series with diagoanal els with added column of pairwise distances
    """
    cs = cosine_similarity(df1.values, df2.values)
    return [cs[i, i] for i in range(len(cs))]

count_cosine_dist_between_two_dfs(df_clean_vectorized_cv_q1.iloc[:2000, :], df_clean_vectorized_cv_q2.iloc[:2000, :])

[0.9486832980505138,
 0.6154574548966638,
 0.4629100498862757,
 0.0,
 0.36927447293799825,
 0.5454545454545454,
 0.0,
 0.3333333333333334,
 1.0000000000000002,
 0.4629100498862757,
 0.0,
 0.6708203932499369,
 0.7999999999999999,
 0.8944271909999159,
 0.9375,
 0.27386127875258315,
 0.6666666666666669,
 0.0,
 0.5892556509887895,
 0.6666666666666669,
 0.6708203932499369,
 0.75,
 0.5,
 0.0,
 0.14285714285714282,
 0.8017837257372731,
 0.8660254037844388,
 0.4082482904638631,
 0.8333333333333336,
 0.6324555320336758,
 0.6666666666666669,
 0.4330127018922194,
 0.8017837257372731,
 0.0,
 0.8944271909999159,
 0.4714045207910316,
 0.6396021490668312,
 0.0668153104781061,
 0.5773502691896258,
 0.12499999999999997,
 0.0,
 0.9999999999999999,
 0.9999999999999999,
 0.5669467095138407,
 0.9090909090909092,
 0.5477225575051662,
 0.0,
 0.0,
 0.7302967433402215,
 1.0000000000000002,
 0.5714285714285713,
 0.8432740427115678,
 0.0,
 0.6681531047810609,
 0.0,
 0.16666666666666666,
 0.2041241452319315,
 0.6708203932499369,
 0.5669467095138407,
 0.4472135954999579,
 0.1889822365046136,
 0.5345224838248487,
 0.3721042037676254,
 0.8944271909999159,
 0.9128709291752769,
 0.5661385170722979,
 0.6,
 0.5477225575051662,
 0.8660254037844388,
 0.0,
 0.7745966692414834,
 1.0,
 0.8944271909999159,
 0.3903600291794132,
 0.9561828874675149,
 0.14673479641335552,
 0.5,
 0.36927447293799825,
 0.3333333333333333,
 0.9128709291752771,
 0.1849000654084097,
 0.24999999999999994,
 0.3450327796711771,
 0.3779644730092272,
 0.5714285714285713,
 0.5773502691896258,
 0.8486684247915055,
 0.5,
 0.7999999999999999,
 0.9999999999999997,
 0.5039526306789696,
 0.41666666666666663,
 0.5477225575051662,
 0.5163977794943223,
 0.6708203932499369,
 1.0000000000000002,
 0.14433756729740646,
 0.35355339059327373,
 0.47140452079103173,
 0.1690308509457033,
 0.5962847939999438,
 0.4472135954999579,
 0.502518907629606,
 0.75,
 0.6708203932499369,
 0.28867513459481287,
 0.0,
 1.0,
 0.9128709291752769,
 0.25,
 0.6708203932499369,
 0.7999999999999999,
 0.1543033499620919,
 0.5,
 0.36514837167011077,
 0.4999999999999999,
 0.294174202707276,
 0.14907119849998596,
 0.801783725737273,
 0.2357022603955159,
 0.3162277660168379,
 0.24999999999999994,
 0.6666666666666669,
 0.75,
 0.0,
 0.5393598899705937,
 0.5773502691896258,
 0.6123724356957946,
 0.20701966780270625,
 0.6708203932499369,
 0.3333333333333334,
 0.0,
 0.6708203932499369,
 0.5669467095138407,
 0.5303300858899106,
 0.6666666666666669,
 0.7302967433402215,
 0.50709255283711,
 0.49999999999999994,
 0.8660254037844388,
 0.447213595499958,
 0.25,
 0.0,
 0.8944271909999159,
 0.33968311024337877,
 0.8888888888888888,
 0.19999999999999998,
 0.41403933560541256,
 0.4714045207910316,
 0.2519763153394848,
 0.0,
 0.75,
 0.6324555320336758,
 0.7715167498104596,
 0.408248290463863,
 0.47434164902525683,
 0.408248290463863,
 0.22360679774997896,
 0.4743416490252569,
 0.6,
 0.75,
 0.26352313834736496,
 0.6708203932499369,
 0.8944271909999159,
 0.7745966692414834,
 0.4472135954999579,
 0.1690308509457033,
 0.7071067811865477,
 0.5,
 0.23354968324845687,
 0.25819888974716115,
 0.25,
 0.22360679774997896,
 0.3067859955389482,
 0.7999999999999999,
 0.7999999999999999,
 0.6708203932499369,
 0.7071067811865475,
 0.7302967433402215,
 0.7745966692414834,
 0.6,
 0.75,
 0.40089186286863654,
 0.4472135954999579,
 0.26726124191242434,
 0.9375,
 0.2519763153394848,
 0.2651650429449553,
 0.4629100498862757,
 0.5976143046671968,
 0.7999999999999999,
 0.7071067811865477,
 0.75,
 0.5039526306789696,
 0.50709255283711,
 1.0,
 0.0,
 0.7302967433402215,
 1.0,
 0.4999999999999999,
 0.7999999999999999,
 0.0,
 0.7378647873726218,
 0.5477225575051662,
 0.17677669529663692,
 0.6396021490668312,
 1.0,
 0.5345224838248487,
 0.4961389383568338,
 1.0000000000000002,
 0.4834937784152281,
 0.5368754921931593,
 0.0,
 0.7999999999999999,
 0.0,
 0.8944271909999159,
 0.5443310539518174,
 0.6123724356957946,
 0.0,
 0.6123724356957946,
 0.5773502691896258,
 0.5773502691896258,
 0.8944271909999159,
 0.14433756729740646,
 0.6172133998483676,
 0.4364357804719848,
 0.9669875568304563,
 0.4472135954999579,
 0.3418817293789138,
 0.6324555320336758,
 0.36514837167011077,
 0.2886751345948129,
 0.9230769230769231,
 0.0,
 0.3333333333333333,
 0.4743416490252569,
 0.47434164902525683,
 0.2981423969999719,
 0.7499999999999998,
 0.24743582965269675,
 0.7999999999999999,
 0.15430334996209194,
 0.8819171036881968,
 0.5714285714285713,
 0.6117752903214979,
 0.20412414523193154,
 0.6666666666666669,
 0.6030226891555273,
 0.3585685828003181,
 0.533001790889026,
 0.6666666666666666,
 0.7302967433402215,
 0.7142857142857141,
 1.0,
 0.6,
 0.2182178902359924,
 0.4629100498862757,
 0.6666666666666669,
 0.40451991747794525,
 0.1543033499620919,
 0.9116846116771036,
 0.5163977794943223,
 0.6708203932499369,
 0.2886751345948129,
 0.0,
 0.4330127018922194,
 0.16903085094570333,
 0.4216370213557839,
 0.5303300858899106,
 0.5163977794943223,
 1.0000000000000002,
 0.39999999999999997,
 0.2041241452319315,
 0.6123724356957946,
 0.7715167498104596,
 0.6804138174397717,
 0.0,
 1.0000000000000002,
 0.6123724356957946,
 0.7745966692414834,
 0.0,
 0.6249999999999999,
 0.4714045207910316,
 0.0,
 0.8164965809277261,
 0.5773502691896258,
 0.9128709291752769,
 0.8333333333333335,
 0.75,
 0.4714045207910316,
 0.8333333333333336,
 0.9999999999999998,
 0.6666666666666669,
 0.75,
 0.3086066999241838,
 0.47809144373375745,
 0.4330127018922194,
 0.11952286093343936,
 0.9428090415820632,
 1.0000000000000002,
 0.7999999999999999,
 0.0,
 0.6666666666666669,
 0.9999999999999998,
 0.6,
 0.48304589153964794,
 0.16724840200141816,
 0.4285714285714285,
 0.36514837167011077,
 0.8660254037844388,
 0.39999999999999997,
 0.75,
 0.7252406676228422,
 0.36514837167011077,
 0.39999999999999997,
 0.0,
 0.08703882797784893,
 0.75,
 0.8660254037844388,
 0.75,
 0.17677669529663692,
 0.5345224838248487,
 0.6708203932499369,
 0.25,
 0.7999999999999999,
 0.3162277660168379,
 0.3380617018914066,
 0.8944271909999159,
 0.9999999999999998,
 0.5773502691896258,
 0.3142696805273545,
 0.8333333333333336,
 0.5,
 0.10540925533894598,
 0.4472135954999579,
 0.3779644730092272,
 0.4472135954999579,
 0.0,
 0.595879571531124,
 0.4082482904638631,
 0.6708203932499369,
 0.5163977794943223,
 0.44721359549995787,
 0.3726779962499649,
 0.5000000000000001,
 0.26726124191242434,
 0.4472135954999579,
 0.8660254037844388,
 0.6172133998483676,
 0.6,
 0.2886751345948129,
 0.888888888888889,
 0.8153742483272115,
 0.6,
 0.916666666666667,
 0.26013299085723596,
 0.916666666666667,
 0.7302967433402215,
 0.0,
 0.9486832980505137,
 0.0,
 0.22360679774997896,
 0.7000000000000001,
 0.6172133998483676,
 0.5773502691896258,
 0.8164965809277261,
 0.6804138174397717,
 0.31622776601683794,
 0.75,
 0.8333333333333336,
 0.5,
 0.6788828577642427,
 0.3380617018914066,
 0.5,
 0.0,
 0.5188745216627709,
 0.3162277660168379,
 1.0,
 0.36514837167011077,
 0.13363062095621217,
 0.5163977794943223,
 0.5,
 0.30151134457776363,
 0.6761234037828132,
 0.47434164902525683,
 0.6666666666666669,
 0.17677669529663687,
 0.3380617018914066,
 0.6666666666666669,
 0.0,
 0.5892556509887897,
 0.0,
 0.6708203932499369,
 0.6201736729460423,
 0.7216878364870323,
 0.3333333333333334,
 0.6,
 0.6681531047810608,
 0.18609684207969418,
 0.3585685828003181,
 0.6666666666666669,
 0.1889822365046136,
 0.7378647873726218,
 0.25,
 0.3779644730092272,
 0.25,
 0.08111071056538126,
 0.0,
 0.857142857142857,
 0.2886751345948129,
 0.41812100500354543,
 0.0,
 0.4330127018922194,
 0.0,
 0.2279211529192759,
 0.5345224838248487,
 0.5773502691896258,
 0.50709255283711,
 0.0,
 0.5773502691896258,
 0.5,
 1.0000000000000002,
 0.6708203932499369,
 0.8581163303210331,
 0.26726124191242434,
 0.3333333333333334,
 0.3086066999241838,
 0.9197090092274487,
 0.6761234037828132,
 0.13608276348795434,
 0.7745966692414834,
 0.6681531047810609,
 0.6804138174397717,
 0.2279211529192759,
 0.39999999999999997,
 0.0,
 0.3333333333333333,
 0.8660254037844388,
 0.4285714285714285,
 0.492365963917331,
 0.0,
 0.18257418583505539,
 0.8333333333333336,
 0.25819888974716115,
 0.1889822365046136,
 0.7216878364870323,
 0.6123724356957946,
 0.5773502691896258,
 0.5000000000000001,
 0.4045199174779453,
 0.6708203932499369,
 1.0000000000000002,
 0.5303300858899106,
 0.20412414523193154,
 0.8660254037844388,
 0.09534625892455922,
 0.12309149097933275,
 0.5000000000000001,
 0.9999999999999998,
 0.5773502691896258,
 0.5773502691896258,
 0.5477225575051662,
 0.7999999999999999,
 0.5892556509887895,
 0.8660254037844388,
 0.08770580193070293,
 0.14907119849998596,
 0.4472135954999579,
 0.5163977794943223,
 0.1690308509457033,
 0.07453559924999298,
 0.0,
 0.3481553119113957,
 0.4444444444444444,
 0.0,
 0.6708203932499369,
 0.8164965809277261,
 0.5773502691896258,
 0.19999999999999998,
 0.7559289460184544,
 0.0,
 0.7999999999999999,
 0.19999999999999998,
 0.8451542547285165,
 0.5477225575051662,
 0.5773502691896258,
 0.2721655269759087,
 0.8333333333333335,
 0.6123724356957946,
 0.8888888888888888,
 0.4714045207910318,
 0.5,
 0.5,
 0.35355339059327373,
 0.7715167498104596,
 0.816496580927726,
 0.9230769230769231,
 0.0,
 0.1543033499620919,
 0.0,
 0.7715167498104596,
 0.8944271909999159,
 0.5477225575051662,
 0.4629100498862757,
 0.3333333333333334,
 0.4714045207910318,
 0.7142857142857141,
 0.6708203932499369,
 0.4472135954999579,
 0.15811388300841894,
 0.3666793988112845,
 0.11396057645963795,
 0.3333333333333334,
 1.0,
 0.22360679774997896,
 0.5477225575051662,
 0.5345224838248487,
 0.6761234037828132,
 0.6546536707079772,
 0.0,
 0.7142857142857142,
 0.26726124191242434,
 0.8660254037844388,
 0.7302967433402215,
 0.6666666666666669,
 0.7999999999999999,
 0.6,
 0.8451542547285165,
 0.1951800145897066,
 0.3086066999241838,
 0.0,
 0.09245003270420485,
 0.39999999999999997,
 1.0000000000000002,
 0.5669467095138407,
 0.9090909090909092,
 0.8944271909999159,
 0.30151134457776363,
 0.36514837167011077,
 0.6454972243679029,
 0.8333333333333336,
 0.28571428571428564,
 0.0,
 0.0,
 0.2886751345948129,
 0.6123724356957946,
 0.0,
 0.7999999999999999,
 0.22360679774997896,
 0.6708203932499369,
 0.6708203932499369,
 0.7826237921249264,
 0.50709255283711,
 0.7216878364870323,
 0.5773502691896258,
 0.7302967433402215,
 0.6708203932499369,
 0.9999999999999998,
 0.6666666666666669,
 0.5773502691896258,
 0.50709255283711,
 0.5976143046671968,
 0.6249999999999999,
 0.8660254037844388,
 0.75,
 0.0,
 0.3872983346207417,
 0.4216370213557839,
 1.0000000000000002,
 0.5388159060803247,
 0.3580574370197164,
 0.6172133998483676,
 0.8749999999999998,
 0.8451542547285165,
 0.0,
 0.9128709291752769,
 0.0,
 0.6666666666666669,
 0.6708203932499369,
 0.0,
 0.5714285714285713,
 0.6666666666666669,
 0.4364357804719848,
 0.40089186286863654,
 0.6708203932499369,
 0.9999999999999999,
 0.75,
 0.12309149097933275,
 0.5000000000000001,
 0.6708203932499369,
 0.7071067811865475,
 0.7071067811865475,
 0.6708203932499369,
 0.8944271909999159,
 0.7142857142857142,
 0.75,
 0.6,
 0.28571428571428564,
 0.1889822365046136,
 0.6396021490668312,
 0.5,
 0.8660254037844388,
 0.6172133998483676,
 0.2886751345948129,
 0.2886751345948129,
 0.4472135954999579,
 0.1178511301977579,
 0.6172133998483676,
 0.36514837167011077,
 0.7999999999999999,
 0.24253562503633294,
 0.14907119849998599,
 0.3779644730092272,
 0.0,
 0.39999999999999997,
 0.4629100498862757,
 0.0,
 0.9999999999999999,
 0.36514837167011077,
 1.0000000000000002,
 0.6172133998483676,
 0.8333333333333336,
 0.816496580927726,
 0.3086066999241838,
 0.6172133998483676,
 0.5,
 0.7302967433402215,
 0.6666666666666669,
 0.25,
 0.9258200997725515,
 0.75,
 0.0,
 0.5039526306789696,
 0.2886751345948129,
 0.5,
 0.5163977794943223,
 0.4714045207910318,
 0.5222329678670935,
 0.5185629788417315,
 0.8153742483272114,
 0.7006490497453707,
 0.7999999999999999,
 0.0,
 0.5669467095138407,
 0.6708203932499369,
 0.8728715609439696,
 0.1767766952966369,
 1.0,
 1.0,
 0.0,
 0.39999999999999997,
 0.2581988897471611,
 0.5000000000000001,
 0.6708203932499369,
 0.47809144373375745,
 0.6761234037828132,
 0.8660254037844388,
 0.408248290463863,
 1.0000000000000002,
 0.5698028822981898,
 0.7999999999999999,
 0.6708203932499369,
 0.22360679774997896,
 0.6666666666666669,
 0.6324555320336758,
 0.75,
 0.31622776601683794,
 0.5773502691896257,
 0.8944271909999159,
 0.6,
 0.3380617018914066,
 0.4242640687119285,
 0.2886751345948129,
 0.2051956704170308,
 0.6708203932499369,
 0.26726124191242434,
 0.6708203932499369,
 0.8944271909999159,
 1.0,
 0.816496580927726,
 0.4444444444444444,
 0.629940788348712,
 0.0,
 0.2721655269759087,
 0.20965696734438366,
 0.4330127018922194,
 0.8660254037844388,
 0.3086066999241838,
 0.3333333333333334,
 0.21081851067789195,
 0.3333333333333334,
 0.7999999999999999,
 0.75,
 0.20412414523193154,
 0.50709255283711,
 0.9999999999999999,
 0.7537783614444091,
 0.4472135954999579,
 0.4999999999999999,
 0.5773502691896258,
 0.6123724356957946,
 0.3779644730092272,
 0.6708203932499369,
 0.7216878364870323,
 0.6708203932499369,
 0.5477225575051662,
 0.39999999999999997,
 0.8660254037844388,
 0.4330127018922194,
 0.75,
 0.2357022603955159,
 0.0,
 0.8944271909999159,
 1.0,
 0.6123724356957946,
 0.6666666666666669,
 0.6666666666666669,
 0.6,
 0.9999999999999999,
 0.3380617018914066,
 0.0,
 0.5241424183609591,
 0.5773502691896258,
 0.75,
 0.7999999999999999,
 0.0,
 0.75,
 0.5,
 0.7205766921228922,
 0.8333333333333336,
 0.2886751345948129,
 0.0,
 0.09805806756909201,
 0.6708203932499369,
 0.5,
 0.2981423969999719,
 0.19999999999999998,
 0.6708203932499369,
 0.0,
 0.8451542547285165,
 0.2860387767736777,
 0.8749999999999998,
 0.9128709291752771,
 0.09622504486493764,
 0.3162277660168379,
 0.3928371006591931,
 0.9999999999999999,
 0.329914439536929,
 0.5270462766947299,
 0.17541160386140586,
 0.6,
 0.0,
 0.6,
 0.8333333333333336,
 0.22360679774997896,
 0.4472135954999579,
 0.4714045207910318,
 0.2886751345948129,
 0.0,
 0.3380617018914066,
 0.8660254037844388,
 0.5892556509887895,
 0.0,
 0.0,
 0.558156305651438,
 0.1336306209562122,
 0.5163977794943223,
 0.0,
 0.5477225575051662,
 0.9128709291752771,
 0.31025261399701143,
 0.7745966692414834,
 0.7999999999999999,
 0.6708203932499369,
 0.7999999999999999,
 0.0936585811581694,
 0.8944271909999159,
 0.7071067811865477,
 0.273861278752583,
 0.6666666666666669,
 0.2519763153394848,
 0.7999999999999999,
 0.32732683535398865,
 0.0,
 0.6396021490668312,
 0.36514837167011077,
 0.2357022603955159,
 1.0,
 0.6030226891555273,
 0.6,
 0.5345224838248487,
 0.6666666666666669,
 0.2611164839335468,
 0.75,
 0.329914439536929,
 0.6172133998483676,
 0.8451542547285165,
 0.6708203932499369,
 1.0000000000000002,
 0.3086066999241838,
 0.8749999999999998,
 0.0,
 0.0,
 0.8164965809277261,
 0.5345224838248487,
 0.9999999999999999,
 0.5773502691896258,
 0.27801921874276636,
 0.4472135954999579,
 0.7142857142857141,
 0.6681531047810608,
 0.7142857142857142,
 0.816496580927726,
 0.15811388300841894,
 0.0,
 0.6172133998483676,
 0.3464101615137754,
 0.6666666666666669,
 0.7142857142857142,
 0.7302967433402215,
 0.6708203932499369,
 0.25819888974716115,
 0.857142857142857,
 0.9999999999999999,
 0.8696263565463043,
 0.6708203932499369,
 0.25819888974716115,
 0.36514837167011077,
 0.816496580927726,
 0.8333333333333336,
 0.5477225575051662,
 0.408248290463863,
 0.36514837167011077,
 1.0,
 0.6681531047810609,
 0.7715167498104596,
 0.8944271909999157,
 0.75,
 0.816496580927726,
 0.0,
 0.9258200997725515,
 0.0,
 0.47434164902525683,
 0.3086066999241838,
 0.0975900072948533,
 0.2886751345948129,
 0.20412414523193154,
 0.6172133998483676,
 0.816496580927726,
 0.7302967433402215,
 0.565685424949238,
 0.0,
 0.7559289460184544,
 0.5773502691896258,
 0.7999999999999999,
 0.6123724356957946,
 0.36514837167011077,
 0.23145502494313785,
 0.9428090415820632,
 0.6708203932499369,
 0.6666666666666669,
 0.5547001962252291,
 0.11785113019775793,
 0.3333333333333334,
 0.0,
 0.12909944487358058,
 0.5773502691896258,
 0.75,
 0.0,
 0.9128709291752769,
 0.0,
 0.0,
 0.857142857142857,
 0.8944271909999159,
 0.75,
 0.1951800145897066,
 0.7999999999999999,
 0.12499999999999997,
 0.0944911182523068,
 0.6666666666666669,
 0.36563621206356534,
 0.18181818181818182,
 0.7777777777777779,
 0.8333333333333336,
 0.2519763153394848,
 0.7378647873726218,
 0.5477225575051662,
 0.19364916731037082,
 0.3333333333333334,
 0.7745966692414834,
 0.8249579113843053,
 0.8944271909999159,
 0.2357022603955159,
 0.7302967433402215,
 0.24253562503633294,
 0.8660254037844388,
 0.1666666666666667,
 0.35355339059327373,
 0.4472135954999579,
 0.75,
 0.36927447293799825,
 0.0,
 0.36514837167011077,
 0.7715167498104596,
 0.6708203932499369,
 0.6172133998483676,
 0.5345224838248487,
 0.6,
 0.4743416490252569,
 0.39999999999999997,
 0.816496580927726,
 0.10050378152592121,
 0.6666666666666669,
 0.13363062095621217,
 0.14433756729740646,
 0.7999999999999999,
 1.0000000000000002,
 0.6,
 0.816496580927726,
 0.6761234037828132,
 0.0,
 0.0,
 0.8660254037844388,
 0.44721359549995787,
 0.4330127018922194,
 0.6,
 0.0,
 0.6804138174397717,
 0.0,
 0.7999999999999999,
 0.7216878364870323,
 0.6,
 0.22360679774997902,
 0.0,
 0.3779644730092272,
 0.6708203932499369,
 0.5345224838248487,
 0.0,
 0.7216878364870323,
 1.0,
 1.0,
 0.0,
 0.6,
 0.912870929175277,
 0.7715167498104596,
 0.4082482904638631,
 0.7745966692414834,
 0.30316953129541624,
 0.6123724356957946,
 0.8333333333333336,
 0.0,
 0.8333333333333335,
 0.75,
 0.6,
 0.502518907629606,
 0.75,
 1.0,
 0.25,
 0.7302967433402215,
 0.75,
 0.4472135954999579,
 0.1690308509457033,
 0.7302967433402215,
 1.0000000000000002,
 0.0,
 0.13363062095621217,
 0.8660254037844388,
 0.8660254037844388,
 0.6,
 0.5773502691896258,
 0.3721042037676254,
 0.7999999999999999,
 0.0,
 0.8944271909999159,
 0.7216878364870323,
 0.857142857142857,
 0.916666666666667,
 0.3333333333333333,
 0.75,
 0.3333333333333334,
 0.6708203932499369,
 0.20412414523193154,
 0.7999999999999999,
 0.8333333333333336,
 0.1889822365046136,
 0.9999999999999999,
 0.20412414523193154,
 0.38138503569823695,
 0.2886751345948129,
 0.8660254037844388,
 0.8660254037844388,
 0.5477225575051662,
 0.5669467095138407,
 0.2886751345948129,
 0.1543033499620919,
 0.0,
 0.11952286093343936,
 0.0,
 0.5185629788417315,
 0.0,
 ...]

In [39]:
distancesq1iq2i = count_cosine_dist_between_two_dfs(df_clean_vectorized_cv_q1.iloc[:, :], df_clean_vectorized_cv_q2.iloc[:, :])
print(f'Array of distances between q1_i and q2_i has length {len(distancesq1iq2i)} - should be {len(df_clean_vectorized_cv_q1)}')

Array of distances between q1_i and q2_i has length 10000 - should be 10000

## 4. Creating DF with cosine distance and target

In [49]:
#distance_target = pd.DataFrame([distancesq1iq2i, df_clean.is_duplicate[:10000].values], columns= ['dist', 'target'])
distance_target = pd.DataFrame({'distance': distancesq1iq2i, 'target': df_clean.is_duplicate[:10000].values})
distance_target.describe()

           distance        target
count  10000.000000  10000.000000
mean       0.525458      0.371100
std        0.275435      0.483123
min        0.000000      0.000000
25%        0.333333      0.000000
50%        0.547723      0.000000
75%        0.750000      1.000000
max        1.000000      1.000000

In [64]:
X = distance_target.distance
y = distance_target.target
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)
print('data shapes', X_train.shape, X_test.shape, y_train.shape)
print(f'Distribution of classes in target: \n{y_train.value_counts()/len(y_train)*100}, \n{y_test.value_counts()/len(y_test)*100}')
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train.values.reshape(-1, 1), y_train)
y_pred = lr.predict(X_test.values.reshape(-1, 1))

from sklearn.metrics import confusion_matrix, classification_report
print(f'Classification report after PR: \n{classification_report(y_test, y_pred)}')
print(f'Confusion matrix after LR: \n{confusion_matrix(y_test, y_pred)}')

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train.values.reshape(-1, 1), y_train)
y_predrf = rf.predict(X_test.values.reshape(-1, 1))

from sklearn.metrics import confusion_matrix, classification_report
print(f'Classification report after PR: \n{classification_report(y_test, y_predrf)}')
print(f'Confusion matrix after LR: \n{confusion_matrix(y_test, y_predrf)}')

data shapes (7500,) (2500,) (7500,)
Distribution of classes in target:
0    62.64
1    37.36
Name: target, dtype: float64,
0    63.64
1    36.36
Name: target, dtype: float64
Classification report after PR:
              precision    recall  f1-score   support

           0       0.72      0.78      0.75      1591
           1       0.56      0.48      0.51       909

    accuracy                           0.67      2500
   macro avg       0.64      0.63      0.63      2500
weighted avg       0.66      0.67      0.67      2500

Confusion matrix after LR:
[[1244  347]
 [ 474  435]]
Classification report after PR:
              precision    recall  f1-score   support

           0       0.77      0.72      0.75      1591
           1       0.56      0.63      0.59       909

    accuracy                           0.69      2500
   macro avg       0.67      0.68      0.67      2500
weighted avg       0.70      0.69      0.69      2500

Confusion matrix after LR:
[[1149  442]
 [ 338  571]]

In [12]:
# transforming that 10000 rows
from sklearn.decomposition import PCA, TruncatedSVD
from sklearn.pipeline import Pipeline
from sklearn.manifold import TSNE
import time

pca_tsne = Pipeline([
    ("tsvd", TruncatedSVD(n_components=1500, random_state=42)),
    ("tsne", TSNE(n_components=3, random_state=42)),
])

tsvd = TruncatedSVD(n_components=1500, random_state=42)
t0 = time.time()
df_clean_vectorized_cv_q1_reduced = tsvd.fit_transform(df_clean_vectorized_cv_q1)
df_clean_vectorized_cv_q2_reduced = tsvd.transform(df_clean_vectorized_cv_q2)
t1 = time.time()
print(f'Our new data will have shape {df_clean_vectorized_cv_q2_reduced.shape}')
print(f"Reduction in pipeline with PCA and t-SNE took {round(t1-t0, 2)}s")

Our new data will have shape (10000, 1500)
Reduction in pipeline with PCA and t-SNE took 398.54s

In [72]:
df_clean.head()

,qid1,qid2,question1,question2,is_duplicate
0,1,2,what step step guide invest share market india,what step step guide invest share market,0
1,3,4,what story kohinoor koh noor diamond,what would happen indian government stole kohi...,0
2,5,6,how i increase speed internet connection using...,how internet speed increased hacking dns,0
3,7,8,why i mentally lonely how i solve,find remainder when math math divided...,0
4,9,10,which one dissolve water quikly sugar salt met...,which fish would survive salt water,0